<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="../assets/style/memoryGame.css">
    <script src="../assets/js/memoryGame.js"></script>
</head>
<body>
    <header>
        <h1>Match Villagers</h1>
        <p id="scoreboard"></p>
        <button onclick="resetGame()">Reset</button>
    </header>
    <main>
        <section id="game"></section>
    </main>
    <footer>
        <p>Made by Blanche Peltier.</p>
    </footer>
</body>
</html>