#board {
    background-color: var(--text);
    width: 450px;
    height: 450px;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

#digits {
    background-color: blue;;
    width: 450px;
    height: 50px;
    margin: 1rem;

    display: flex;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid var(--light);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .tile:nth-child(3n) {
    border-right: 1px solid red;
} */

#board > :nth-child(19) {
    border-bottom: 1px solid red;
}

.solved {
    background-color: var(--light);
}

.number {
    width: 48px;
    height: 48px;
    border: 1px solid var(--dark);

    display: flex;
    justify-content: center;
    align-items: center;
}